.dialog {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all .3s ease;
}

.dialog.appear {
  opacity: 1;
}

.dialog.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog .main {
  background-color: #fff;
  padding: 16px;
  width: 800px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.dialog .main .header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  font-weight: 500;
}

.dialog .header .close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dialog .header .close::before,
.dialog .header .close::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 1px;
  background-color: #000;
  transform: rotate(45deg);
}

.dialog .header .close::after {
  transform: rotate(135deg);
}


.dialog .main .content {
  padding: 20px;
  font-size: 14px;
}

.dialog .main .footer {
  display: flex;
  justify-content: flex-end;
}

.dialog .main .footer > button {
  margin-right: 10px;
}