.container {
  margin: 30px auto;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.collapse h1 {
  font-size: 20px;
}

.collapse .item {
  border-top: 2px solid #f0f0f0;
}

.collapse .item:last-child {
  border-bottom: 2px solid #f0f0f0;
}

.collapse .item-header {
  display: flex;
  align-items: center;
  line-height: 45px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.collapse .item-header::after {
  content: '';
  margin-left: auto;
  width: 6px;
  height: 6px;
  border: 2px solid transparent;
  border-top-color: #303030;
  border-right-color: #303030;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.collapse .item.active .item-header::after {
  content: '';
  transform: rotate(135deg);
}

.collapse .item-panel {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.collapse .item.active .item-panel {
  height: auto;
  margin-bottom: 20px;
}
